            <ul class="sidebar-menu">
                <li class="header">管理菜单</li>
                <li class="treeview" id="g-1">
                    <a href="#">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>首页</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-1-1" >
                            <a href="{{ url_for('home.index') }}" target="right">
                                <i class="fa fa-circle-o"></i> 控制面板
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-2">
                    <a href="#">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        {#     fa fa-laptop 这是电脑端                   #}
                        <span>移动端UI测试管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-2-1">
                            <a href="{{ url_for('home.ui_test') }}" target="_blank">
                                <i class="fa fa-circle-o"></i> UI用例管理
                            </a>
                        </li>
                        <li id="g-2-2">
                            <a href="{{ url_for('home.ui_result') }}" target="_blank">
                                <i class="fa fa-circle-o"></i> UI结果管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-3">
                    <a href="#">
                        <i class="fa fa-buysellads" aria-hidden="true"></i>
                        <span>接口测试管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-3-1">
                            <a href="{{ url_for('home.api_test') }}" target="_blank">
                                <i class="fa fa-circle-o"></i> 接口用例管理
                            </a>
                        </li>
                        <li id="g-3-2">
                            <a href="{{ url_for('home.api_result', page=1) }}" target="_blank">
                                <i class="fa fa-circle-o"></i> 接口结果管理
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>