{% extends 'home/home.html' %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <iframe scrolling="auto" frameborder="0" src="http://j9.test.k8s.taqu.cn/tq-qtp/index" name="right" width="100%"
                height="100%"></iframe>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-1").addClass("active");
            $("#g-1-1").addClass("active");
        });
    </script>
{% endblock %}
